<h2>Introduction to Pandas | Lecture 1 | Neetish Singh</h2>

<h6>Step 1:Import pandas library to your project and you can rename it if you want</h6>

In [2]:
import pandas as pd

<h3 style='color:red'>Dataframe:</h3><h4> Dateframe is a datastructure used to store data in form of tables and to facilitate the operations and functions</h4>

<h6>Step 2: import data from external sources(i.e csv,excel,Json,Html) to our dataframe.</h6>

In [3]:
df=pd.read_csv('Downloads/heart.csv')

<h6>We can display the imported data either from top or bottom or from particular selection<h6>

<h5>1.From Top</h5>

In [4]:
df.head()      #df.head(no_of_rows)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

<h5>2.From Bottom</h5>

In [5]:
df.tail()      #df.tail(no_of_rows)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

<h5>3.From Particular Selection</h5>

In [6]:
df[3:123]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
27,51,1,2,110,175,0,1,123,0,0.6,2,0,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2,1
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3,1
32,44,1,1,130,219,0,0,188,0,0.0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,54,0,1,132,288,1,0,159,1,0.0,2,1,2,1
94,45,0,1,112,160,0,1,138,0,0.0,1,0,2,1
95,53,1,0,142,226,0,0,111,1,0.0,2,0,3,1
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3,1
98,43,1,2,130,315,0,1,162,0,1.9,2,1,2,1
99,53,1,2,130,246,1,0,173,0,0.0,2,3,2,1
100,42,1,3,148,244,0,0,178,0,0.8,2,2,2,1
101,59,1,3,178,270,0,0,145,0,4.2,0,0,3,1
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1
103,42,1,2,120,240,1,1,194,0,0.8,0,0,3,1
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1
105,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2,1
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
108,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
109,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
110,64,0,0,180,325,0,1,154,1,0.0,2,0,2,1
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
112,64,0,2,140,313,0,1,133,0,0.2,2,0,3,1
113,43,1,0,110,211,0,1,161,0,0.0,2,0,3,1
114,55,1,1,130,262,0,1,155,0,0.0,2,0,2,1
115,37,0,2,120,215,0,1,170,0,0.0,2,0,2,1
116,41,1,2,130,214,0,0,168,0,2.0,1,0,2,1
117,56,1,3,120,193,0,0,162,0,1.9,1,0,3,1
118,46,0,1,105,204,0,1,172,0,0.0,2,0,2,1
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2,1
120,64,0,0,130,303,0,1,122,0,2.0,1,2,2,1
121,59,1,0,138,271,0,0,182,0,0.0,2,0,2,1
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2,1

In [8]:
df.age #df['age'] both are same

0      63
1      37
2      41
3      56
4      57
5      57
6      56
7      44
8      52
9      57
10     54
11     48
12     49
13     64
14     58
15     50
16     58
17     66
18     43
19     69
20     59
21     44
22     42
23     61
24     40
25     71
26     59
27     51
28     65
29     53
       ..
273    58
274    47
275    52
276    58
277    57
278    58
279    61
280    42
281    52
282    59
283    40
284    61
285    46
286    59
287    57
288    57
289    55
290    61
291    58
292    58
293    67
294    44
295    63
296    63
297    59
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [10]:
df[df.age>df.age.mean()].sex #can execute conditional things

0      1
3      1
4      0
5      1
6      0
9      1
13     1
14     0
16     0
17     0
19     0
20     1
23     1
25     0
26     1
28     0
31     1
38     0
39     0
51     1
52     1
54     0
59     0
60     0
64     1
69     0
75     0
77     1
79     1
82     0
      ..
258    0
260    0
263    0
265    1
266    0
269    1
271    1
272    1
273    1
276    1
277    1
278    0
279    1
282    1
284    1
286    1
287    1
288    1
289    0
290    1
291    1
292    0
293    1
295    1
296    0
297    1
298    0
300    1
301    1
302    0
Name: sex, Length: 159, dtype: int64

In [11]:
df.index

RangeIndex(start=0, stop=303, step=1)

In [12]:
df[['age','sex']]

     age  sex
0     63    1
1     37    1
2     41    0
3     56    1
4     57    0
5     57    1
6     56    0
7     44    1
8     52    1
9     57    1
10    54    1
11    48    0
12    49    1
13    64    1
14    58    0
15    50    0
16    58    0
17    66    0
18    43    1
19    69    0
20    59    1
21    44    1
22    42    1
23    61    1
24    40    1
25    71    0
26    59    1
27    51    1
28    65    0
29    53    1
..   ...  ...
273   58    1
274   47    1
275   52    1
276   58    1
277   57    1
278   58    0
279   61    1
280   42    1
281   52    1
282   59    1
283   40    1
284   61    1
285   46    1
286   59    1
287   57    1
288   57    1
289   55    0
290   61    1
291   58    1
292   58    0
293   67    1
294   44    1
295   63    1
296   63    0
297   59    1
298   57    0
299   45    1
300   68    1
301   57    1
302   57    0

[303 rows x 2 columns]

In [13]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [14]:
df.columns[2]

'cp'

In [15]:
df[df.columns[1]]

0      1
1      1
2      0
3      1
4      0
5      1
6      0
7      1
8      1
9      1
10     1
11     0
12     1
13     1
14     0
15     0
16     0
17     0
18     1
19     0
20     1
21     1
22     1
23     1
24     1
25     0
26     1
27     1
28     0
29     1
      ..
273    1
274    1
275    1
276    1
277    1
278    0
279    1
280    1
281    1
282    1
283    1
284    1
285    1
286    1
287    1
288    1
289    0
290    1
291    1
292    0
293    1
294    1
295    1
296    0
297    1
298    0
299    1
300    1
301    1
302    0
Name: sex, Length: 303, dtype: int64

In [21]:
df.index
df

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
43,1,0,150,247,0,1,171,0,1.5,2,0,2,1
69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
59,1,0,135,234,0,1,161,0,0.5,1,0,3,1
44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
51,1,2,110,175,0,1,123,0,0.6,2,0,2,1
65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
57,1,1,124,261,0,1,141,0,0.3,2,0,3,0
58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
61,1,0,138,166,0,0,125,1,3.6,1,1,2,0
42,1,0,136,315,0,1,125,1,1.8,1,0,1,0
52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
59,1,2,126,218,1,1,134,0,2.2,1,1,1,0
40,1,0,152,223,0,1,181,0,0.0,2,0,3,0
61,1,0,140,207,0,0,138,1,1.9,2,1,3,0
46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
59,1,3,134,204,0,1,162,0,0.8,2,2,2,0
57,1,1,154,232,0,0,164,0,0.0,2,1,2,0
57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [22]:
df.reset_index(inplace=True)

In [23]:
df.set_index('age',inplace=True)

In [29]:
df.sex.mean()

0.6831683168316832